# Build
build/
bin/
out/

# Objetos e binários
*.o
*.obj
*.a
*.so
*.dll
*.dylib
*.exe
*.out

# Debug
*.dSYM/
*.pdb

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# IDEs / Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
